.main {
    .content {
        padding: 1rem;
        max-width: 1200px;
        margin: 2.5rem auto 0 auto;
        background-color: rgba(35, 10, 59, .8);
        height: 90vh;
        border-radius: 10px;
        display: flex;
        gap: 1rem;
        
    }
}