.main {
  .content {
    padding: 1rem;
    max-width: 1200px;
    margin: 2.5rem auto 0 auto;
    background-color: rgba(35, 10, 59, 0.8);
    height: 90vh;
    border-radius: 10px;
    display: flex;
    gap: 1rem;

    .sec {
        flex: 1 1 400px;

      .down {
        margin-top: 1rem;
        background-color: rgb(15, 2, 27);
        height: 32.5%;
        border-radius: 10px;
        
        form {
          padding: 1rem;

          button {
            background-color: goldenrod;
            padding: .7rem 1rem;
              border-radius: 6px;
              width: 100%;
              outline: none;
              border: none;
              margin-top: 2rem;
              font-weight: 600;
          }

          .input {
            position: relative;
            margin-bottom: 1rem;

            label {
              color: #fefefe;
            }
            input {
              padding: .7rem 1rem;
              border-radius: 6px;
              width: 100%;
              outline: none;
              border: none;
            }
            span {
              position: absolute;
              right: 2%;
              font-size: .7rem;
              top: 30%;
              color: rgb(108, 77, 0);
            }
          }
        }
      }
    }
  }
}
